<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->

<configuration>
  <system.web>
    <authorization>
      <allow roles="ADMIN,CUSTOMER SERVICE REP,EXECUTIVE,ORDER ONLY,CONTENT EDITOR,CATALOG EDITOR,SEO"/>
      <deny users="*"/>
    </authorization>
  </system.web>
  
  <location path="OrderManager.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMIN,CUSTOMER SERVICE REP,ORDER ONLY"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="sales/affiliates/view.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMIN" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="sales/customers/list.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMIN,CUSTOMER SERVICE REP" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>  

  <location path="sales">
    <system.web>
      <authorization>
        <allow roles="ADMIN,CUSTOMER SERVICE REP"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="sales/cases">
    <system.web>
      <authorization>
        <allow roles="ADMIN,CUSTOMER SERVICE REP"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="sales/OrderDesk.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMIN,CUSTOMER SERVICE REP,ORDER ONLY"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="template/CSSEditor.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMIN" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="ContentManager.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMIN,CONTENT EDITOR" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="design">
    <system.web>
      <authorization>
        <allow roles="ADMIN,CONTENT EDITOR" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="settings">
    <system.web>
      <authorization>
        <allow roles="ADMIN" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="settings/messages/default.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMIN,CONTENT EDITOR" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="SettingsManager.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMIN" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="MaintManager.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMIN,CONTENT EDITOR,CUSTOMER SERVICE REP,CATALOG EDITOR,EXECUTIVE" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="catalog/DeleteCatalog.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMIN" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="catalog">
    <system.web>
      <authorization>
        <allow roles="ADMIN,CONTENT EDITOR,CATALOG EDITOR" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="CatalogManager.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMIN,CONTENT EDITOR,CATALOG EDITOR" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="SEO">
    <system.web>
      <authorization>
        <allow roles="ADMIN,SEO"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="DataManager">
    <system.web>
      <authorization>
        <allow roles="ADMIN,CONTENT EDITOR,CATALOG EDITOR"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="ChangePassword.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMIN,CONTENT EDITOR,CUSTOMER SERVICE REP,CATALOG EDITOR,EXECUTIVE, SEO"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Reports">
    <system.web>
      <authorization>
        <allow roles="ADMIN,EXECUTIVE" />
        <deny users="*"/>        
      </authorization>
    </system.web>
  </location>

  <location path="AdvanceToolsManager.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMIN" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
